:root {
  --white: #fff;
  --steel-grey: #2B283A;
  --body-font:'Inter', sans-serif;
  --font-medium: 500;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.App {
  /* height: inherit; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.picker {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: .75em;
  box-shadow: 0px 4px 11px 0px #00000026;
}

.picker__mode {
  font-size: 1rem;
}

.color-display {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.color-display__column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.color-display__values {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: .825em;
  padding-left: 0;
  padding-bottom: .825em;
  list-style-type: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--steel-grey);
  font-size: .75rem;
  font-weight: var(--font-medium);
}