:root {
  --steel-grey: #2B283A;
  --body-font:'Inter', sans-serif;
  --font-medium: 500;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-display {
  display: flex;
  justify-content: space-evenly;
}

.color-display__value {
  color: var(--steel-grey);
  font-size: .75rem;
  font-weight: var(--font-medium);
}